<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Par Mani</h2>
                <h3 class="section-subheading text-muted">Pieredze un izglītība </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/contact/ilze.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Šobrīd</h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Interjera dizainere un projektu vadītāja „ID”Interior Design –
                                    Ilze Desaine, Rīga (Latvia) <a href="https://idinterior.lv">idinterior.lv</a>></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2019-2020</h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Vadošā dizainere un projektu vadītāja „Intrante design Studio”,
                                    Rīga (Latvia) <a href="https://intrante.com">intrante.com</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2013-2019</h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Interjera dizainere un projektētāja, salona vadītāja „Adizains un
                                    Arhitektūra”,
                                    <a href="https://adizains.lv">adizains.lv</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2012-2013</h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Mēbeļu un interjera dizainere „Stilulīnija”
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2011</h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"> Mēbeļu dizainere SIA „Jarogrupa”</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Izglītība</h4>
                                <h4 class="subheading"></h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2014-2016</h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"> Profesionālais Maģistrs – Interjera dizains Rīgas Tehniskā
                                    universitāte </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2006-2010</h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"> Arhitektūras tehniķes profesionālais grāds </p>
                            </div>
                        </div>
                    </li>
                    <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011</h4>
                                    <h4 class="subheading">Mēbeļu Dizainere</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">jarogrupa.lv</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012-2013</h4>
                                    <h4 class="subheading">Mēbeļu un Interjera Dizainere</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Stilu Linija</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013-2019</h4>
                                    <h4 class="subheading">Intera dizainere un Projetētāja, salona vadītāja</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">"Adizains un Arhitektūra", <a href="https://adizains.lv">adizains.lv</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019-2020</h4>
                                    <h4 class="subheading">Vadošā dizainere un projektu vadītāja</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">"Intrante Design Studio", <a href="https://intrante.com">intrante.com</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img id="idinterior-about-logo" class="img-circle img-responsive" src="img/about/6.svg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020</h4>
                                    <h4 class="subheading">Intera dizainere un Projetētāja</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">"ID" Interior Desing - Ilze Desaine, <a href="https://idinterior.lv">idinterior.lv</a></p>
                                </div>
                            </div>
                        </li> -->
                </ul>
            </div>
        </div>
    </div>
</section>