<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Kontaktinformācija</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-6">
                        <h3><i class="fa fa-phone social-buttons"></i></h3>
                        <h3 class="contact-section-subheading">
                            26799898
                        </h3>
                        <h3><i class="fa fa-envelope social-buttons"></i></h3>
                        <h3 class="contact-section-subheading">
                            ilze.desaine@gmail.com
                        </h3>
                        <h3><i class="fa fa-facebook social-buttons"></i></h3>
                        <h3 class="contact-section-subheading">
                            <a href="https://facebook.com/idinterior.lv">facebook.com/idinterior.lv</a>
                        </h3>
                        <h3><i class="fa fa-instagram social-buttons"></i></h3>
                        <h3 class="contact-section-subheading">
                            <a href="https://www.instagram.com/ilze_desaine/">instagram.com/ilze_desaine/</a>
                        </h3>
                    </div>
                    <div class="col-md-6">
                        <img class="img-circle img-responsive" src="img/contact/ilze.jpg" alt="">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>